

<hr>
<div class="container">
  <nav>
    <p>请在这里选择肉的种类：</p>
    <section>
      <button class="btn btn-primary" (click)="porkPicked()" style="height:80%;width:90%;display:inline-block"> 猪肉</button>
    </section>
    <section>
      <button class="btn btn-primary" (click)="beefPicked()" style="height:80%;width:90%;display:inline-block"> 牛肉</button>
    </section>
    <section>
      <button class="btn btn-primary" (click)="chickenPicked()" style="height:80%;width:90%;display:inline-block"> 鸡肉</button>
    </section>
    <section>
      <p> 您选择了的: {{ meatName }} </p>
    </section>


  </nav>
  <nav>
    <p>请在这里选择蔬菜的种类：</p>
    <section>
      <button class="btn btn-primary" (click)="carrotPicked()" style="height:80%;width:90%;display:inline-block"> 萝卜</button>
    </section>
    <section>
      <button class="btn btn-primary" (click)="tomatoPicked()" style="height:80%;width:90%;display:inline-block"> 柿子</button>
    </section>
    <section>
      <button class="btn btn-primary" (click)="potatoPicked()" style="height:80%;width:90%;display:inline-block"> 土豆</button>
    </section>
    <section>
      <p> 您选择了: {{ vegName }} </p>
    </section>
  </nav>

</div>

<hr>
<div>
  <p> 您选择的是组合是：{{meatName}} + {{vegName}}</p>
  <div>
    <button class="btn btn-primary" (click)="mixThem()" style="height:80%;width:30%;display:inline-block"> 混合</button>
  </div>
  <p> 您的菜品为：{{res}}</p>
</div>

